.app {
  background: url("./assets/nbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 50px;
  color: white;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  animation: fadeIn 2s ease;
}

.lander-heading {
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
}

.lander-heading-h1 {
  padding-top: 2rem;
  margin: auto 0;
  font-weight: bold;
  color: white;
}

.website-name {
  color: white;
  font-size: 100px;
  letter-spacing: 2px;
}

.animated-text {
  color: #f36a21;
  font-weight: bold;
  font-size: 45px;
  background-color: white;
  padding: 15px;
  border-radius: 40px;
}

.lander-button {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.lander-button Button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  color: #f32821;
  background-color: white;
}

.lander-button Button:hover {
  color: white;
  background-color: #ff504a;
}
