.car-main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px; /* Add some padding for spacing */
}

.car-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}

.car-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-label {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.car-covertible {
  margin-top: -10px;
  margin-bottom: 10px;
}

.car-covertible input {
  color: brown;
}

.car-name {
  background-color: white;
  color: black;
  font-size: 25px;
  font-weight: 600;
  height: 50px;
  text-transform: uppercase;
}

.car-info p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.car-actions {
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.car-parts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.car-parts img {
  width: 300px;
  height: 140px;
  border-radius: 10px;
}

/* Style for buttons */
.car-actions button {
  min-width: 150px;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
}

.car-actions button button:hover {
  color: white;
  background-color: rgb(145, 10, 10);
}
